/*Scott Kaltenecker, Matt Sagen
CS 145 Web Design
Klik Final Project == global.css
4/8/2019
*/

.clear{
    clear: both;
}

/*Select all elements, account for margin/padding when changing width and height*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*navigation style begin*/
header{
    background-image: radial-gradient(#656565 ,#252525 95%);
    opacity: .85;
    font-family: 'Roboto Condensed', 'sans-serif';
    text-align: center;
    /*    keep navigation bar in same place when scrolling*/
    position: fixed;
    z-index: 500;
    width: 100%;
}

#logo{
    margin: 10px;
    width: 35%;       
}

#logo:active{
    opacity: .5;
    transition: 250ms;
    
}

#nav-icon-color{
    color: white;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #252525;
    opacity: .85;
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

/*Drop down menu spacing*/
nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    opacity: 0;
    /*    closing transition time*/
    transition: opacity 100ms ease-in-out;/*dropdown menu transition*/
    transition: all linear 200ms;/*hover text transition*/
}

nav a:hover{
    color: #bbb;
    text-decoration: none;
}

/*turn off check box and make char clickable*/
.nav-toggle {
    display: none;
}
.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 200ms ease-in-out 200ms;
}

/*create three line bar icon*/
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;    
}

/*only executes when the width exceeds the set number of px*/
@media screen and (min-width: 600px) {
    /*turn off sidebar*/
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        position: fixed;
        grid-template-columns: 1fr auto minmax(500px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        position: relative;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0;
    }

    nav a{
        opacity: 1;
        position: relative;
    }
    /*create line about full screen nav links*/
    nav a::before {
        content: '';
        display: block;
        height: 4px;
        background-color: #ffffff;
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: top;
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}
/*navigation style end*/
