/*Scott Kaltenecker
CS 145 Web Design Lab 9
3/12/2019
*/

body{
    background-image: radial-gradient(rgb(49,49,49) 10%,rgb(35,45,54)50%, black);
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #bec0c7;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display SC';
    font-weight: bold;
    color: #bfbcb8;
    margin-bottom: 0px;
    margin-top: 30px;
}

h1{
    font-size: 3em;
    color: #777;
}

#nav {
    font-size: .75em;
}

main{
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
}