/*Scott Kaltenecker
CS 145 Web Design
Klik Final Project -- global.css
4/8/2019
*/


.container{
    width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.clear{
    clear: both;
}

header{
    display: table;
    background-color: #333;
}

#logo{
    float: left;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    height: 28px;
    border: 3px solid #3335;
    background-color: #eee;
}

#logo:active{
    opacity: 0.5;
    transition: 150ms;
}

#clothes{
    float: left;
    margin: 5px;
    padding: 3px 4px 4px 3px;
    height: 100px;
    border: 1px solid #3335;
}
#clothes:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: rgba(19, 19, 19, 0.333);
}

backg {
    background-image: url("../images/background5.jpg");
    margin: 0%;
    float: left;
    height: 733px;
    width: 1000px;
    repeat: none;
    opacity: 0.8;
}

#nav {
    margin: 8px 10px 7px 10px;
    padding: 0px;
    list-style-type: none;
    text-align: right;
    float: right;
}

#nav ::after{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    top: -3px;
    background-color: #aaaa; 
    position: absolute;
    transition: all 250ms linear;

}

#nav :hover ::after{
    width: 100%;
}

#nav li{
    display: inline-block;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

#nav li a{
    color: #eee;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 250ms linear;
}

#nav li a:hover{
    color: #aaaa;
}


h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display SC';
    font-weight: bold;
    color: rgb(29, 28, 28);
    margin-bottom: 0px;
    margin-top: 30px;
    padding-left: 10px;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 12px;
}
body{
    background-color: rgb(77, 77, 77)
}





























