/*Scott Kaltenecker, Matt Sagen
CS 145 Web Design
Klik Final Project == men.css
4/8/2019
*/


.container{
    width: 1000px;
    margin: 0 auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.clear{
    clear: both;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color: rgb(29, 28, 28);
    margin-bottom: 0px;
    margin-top: 30px;
    padding-left: 10px;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 12px;
    
}
body{
    background: #fff;
}





























