/*Scott Kaltenecker
Matthew Sagen
CS 145 Web Design
Klik Final Project -- global.css
4/8/2019
*/


#clothes{
    float: left;
    margin: 15px;
    padding: 3px 4px 4px 3px;
    height: 100px;
    border: 1px solid #3335;
}

#clothes:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: rgba(19, 19, 19, 0.333);
}


body{
    background: #fff;
}





























